.hero-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}
.hero-dr {
  padding: 188px 0;
  width: 1440px;
  height: 600px;
  background: #2e2f42;
}
.hero {
  background-color: #2e2f42;
  padding: 0px 0;
  padding-top: 10px;
}

.hero-title {
  font-size: 90px;
  line-height: 1.07em;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-btn {
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
.nav-item {
  list-style: none;
  padding-left: 20px;
}
.contacts-item {
  padding-left: 20px;
}
.nav-list {
  padding: 40px;
}
.contacts-list {
  padding: 20px;
}
